<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>StreamCenter OAuth</title>

    <!-- Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-MfvZlkHCEqatNoGiOXveE8FIwMzZg4W85qfrfIFBfYc= sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <style>
        h1 {
            margin: 0;
        }
        h2 {
            font-size: 20px;
        }
        h1, h2, h3, h4, h5, h6 {
            text-align: center;
        }
    </style>
</head>
<body>

<div class="container center">
    <div style="max-width: 330px;
                padding: 15px;
                margin: 0 auto;
                text-align: center; ">
        <h2>Your StreamCenter Code</h2>
        <div class="well">
            <h1>{{ accessCode|upper }}</h1>
        </div>
        <small style="color: #d3d3d3">Generated on {{ "now"|date('Y-m-d\\TH:i:sP') }}</small>

    </div>

</div>

</body>
</html>