html, body {
	height: 100%
}

body {
	background-color: #1C84E4;
}

.container {
	padding-top: 45px;
}

.fill {
	height: 100%;
}

.title {
	color: white;
	font-size: 46px;
}

.subtitle {
	color: #b6b6b6;
}

.tv-back {
	height: 70%;
	background-color: rgb(30, 28, 47);
	border-top-left-radius: 45px;
	border-top-right-radius: 45px;
	color: white;
	text-align: center;
	padding: 80px 10px 0px 10px;
}

.tv-bottom {
	height: 90px;
	background-color: rgb(215, 215, 215);
	border-bottom-left-radius: 45px;
	border-bottom-right-radius: 45px;
	overflow: hidden;
	position: relative;
	z-index: 1;
}

.bar-start {
	display: inline-block;
	height: 20px;
	background-color: rgb(26, 109, 222);
	margin: 35px 0px 0px 5%;
	padding: 0;
	width: 30%;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	position: absolute;
}

.bar-start:after {
	content: "";
	height: 20px;
	background-color: rgb(142, 142, 142);
	padding: 0;
	width: 300%;
	border-radius: 5px;
	position: absolute;
	z-index: -1;
}