#tv-image-container {
    margin-top: 50px;
}

.tv-image-holder {
    margin: 0 auto;
    max-width: 800px;
}

.sub-image-holder {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

body {
    background-color: #1C84E4;
}